@import url('https://fonts.googleapis.com/css?family=Economica|Pacifico|Paytone+One|Tinos');
@import 'normalize.css';

html {
  font-size: 0.625em;
}

body, body * {
  box-sizing: border-box;
}

body {
  font-family: 'Economica', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  margin:0;
}

main {
  background: #fff;
}

h1, h2 {
  color: turquoise bold;
  font-family: 'Paytone One', sans-serif;
}

nav {
  background-color: #000;
  display: block;
  height: 100%;
}

.nav-icon {
  background-color: black;
  border: turquoise dashed 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  position: relative;
}

header {
  height: 100%;
  width: 10%;
  float: left;
  }

header nav ul {
  margin: 0;
}

.content-container {
  margin: auto;
  padding: 70px;
  font-size: 21px;
  float: left;
  width: 50%;
  position: relative;
}

.capital-container {
  font-family: sans-serif;
  font-weight: bold;
  color: purple;
  text-shadow: 7px 7px turquoise;
  font-size: 56rem;
  float: right;
  width: 30%;
}

.capital-container p {
  margin-top: -140px;
  margin-left: -91px;
  transform: rotate(-12deg);
}

h1 {
  color: turquoise;
  top: 0;
}

.form-container {
  padding: 21px;
  float: left;
  width: 40%;
  height: 75%;
  font-size: 14px;
}

.image-container {
  position: relative;
  float: left;
  width: 40%;
  margin-right: 300px;
  margin-top: -140px;
  margin-left: -500px;
  padding: 50px;
  padding-right: 200px;
}

iframe {
  position: relative;
  float: right;
  width: 40%;
  margin-top: -140px;
  margin-left: -500px;
  top: 100px;
  right: 70px;
}

.message-texttarea {
  width: 300px;
  height: 80px;
}
h1:hover {
  color: orange;
}

h2:hover {
  color: purple;
}

p:hover {
  color: orange;
}

.contact {
  color: purple;
}

.hover-yellow:hover {
  color: orange;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.1);
}

.contact {
  border: turquoise solid 1px;
  padding: 3px;
  color: turquoise;
  text-decoration: none;
  width: 77px;
}

.capital-container-nav {
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: purple;
  background-color: black;
  text-shadow: 7px 7px turquoise;
  font-size: 10rem;
  margin-left: -19px;
}

.capital-container-nav:hover {
  color: orange;
}

.decoration {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  left: 50px;
}

nav li {
  text-decoration: none;
}

.blast {
color: purple;
text-shadow: 3px 3px turquoise;
font-size: 70px;
}
